/start/src/target/*
/start/Cargo.lock
/psoc/Rust/minimum_rust_start.cydsn/CortexM0p/
/psoc/Rust/minimum_rust_start.cydsn/CortexM4/
/psoc/Rust/minimum_rust_start.cydsn/Generated_Source/
/psoc/Rust/minimum_rust_start.cydsn/iar/
/psoc/Rust/minimum_rust_start.cydsn/mdk/
/psoc/Rust/minimum_rust_start.cydsn/gcc/
/psoc/Rust/minimum_rust_start.cydsn/codegentemp/
/psoc/Rust/minimum_rust_start.cydsn/*.log
/psoc/Rust/minimum_rust_start.cydsn/*.scat
/psoc/Rust/minimum_rust_start.cydsn/*.icf
